@inherits LayoutComponentBase
@layout MainLayout

<h1>管理账户</h1>

<div>
    <h2>修改账户设置</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
